* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.5;
    background-color: #F4F5F9;
}
.header {
  background-color: #4075D5;
  padding: 16px 0;
  color: #fff;
  text-align: center;
}
main {
  padding: 32px 80px;
}
.got-list li {
  background-color: #fff;
  text-align: center;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.got-list li header {
  display: flex;
  align-items: center;
}
.got-list li img {
  border-radius: 50%;
  border: 3px solid #377864;
  margin-right: 16px;
}
.got-list li a {
  display: block;
  text-align: center;
  background-color: #E7EDFD;
  color: #4075D5;
  margin-top: 16px;
  padding: 8px 0;
  text-decoration: none;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }
}
