/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: #fdf5e9;
}
header {
  background-color: #387e80;
  padding: 1rem 0;
  text-align: center;
}
h1 {
  font-size: 3rem;
  color: yellow;
}
.book-list {
  padding: 32px;
}
.book-list li {
  background-color: #fff;
  text-align: center;
  padding: 32px;
}
.book-list img {
  max-width: 60%;
}
.book-list h2 {
  font-size: 2rem;
  font-weight: 700;
}
.book-list p {
  font-size: 0.8rem;
  color: #cacaca;
}
.book-list a {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  background-color: #387e80;
  color: #fff;
  text-decoration: none;
  margin-top: 1rem;
  border-radius: 8px;
}
@media screen and (min-width: 768px){
  .book-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }
}
